<div class="container">
    <h2>[ausbildung]</h2>
    <div class="row">
        <div class="col-50">
            <div class="content">
                <dl>
                    <dt>Seit August 2020</dt>
                    <dd>
                        <h3>Höhere Fachschule Technik</h3>
                        dipl. Techniker HF Informatik*<br>
                        <em>hf-ict Pratteln, Schweiz</em>
                    </dd>
                    <dt>Juli 2005 - Juli 2007</dt>
                    <dd>
                        <h3>Berufslehre (verkürzt)</h3>
                        eidg. Fähigkeitszeugnis Informatik (Generalist)<br>
                        <em>Swisscom AG / gibb Bern, Schweiz</em>
                    </dd>
                </dl>
                <aside><small>*Voraussichtlicher Abschluss: August 2023</small></aside>
            </div>
        </div>
        <div class="col-50">
            <div class="content">
                <dl>
                    <dt>März - Juli 2005</dt>
                    <dd>
                        <h3>Rekrutenschule</h3>
                        Richtstrahl- / Planungspionier<br>
                        <em>Kloten und Liestal, Schweiz</em>
                    </dd>
                    <dt>August 2001 – Dezember 2004</dt>
                    <dd>
                        <h3>Matura</h3>
                        Maturitätszeugnis (angew. Mathematik und Physik)<br>
                        <em>Gymnasium Muttenz, Schweiz</em>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="text-align-center"><i class="fas fa-3x fa-graduation-cap"></i></div>
    </div>
</div>