<div class="container text-dark">
    <h2>[interessen]</h2>
    <div class="row">
        <div class="col-50">
            <ul>
                <li>Wandern, Spaziergänge im Wald<img alt="Wald" src="img/wald.jpg"></li>
                <li>Foto- und Videografie<img alt="Kamera" src="img/camera.jpg"></li>
                <li>Klavier spielen<img alt="Klavier" src="img/keys.jpg"></li>
                <li>Fremde Sprachen und Kulturen<img alt="Kirschblüten" src="img/sakura.jpg"></li>
            </ul>
            <div class="content text-align-center">
                <i class="fas fa-4x fa-hiking text-dark"></i>
            </div>
        </div>
        <div class="col-50">
        </div>

    </div>
</div>
