<div class="container">
    <h2>[kontakt]</h2>
    <div class="icon text-align-center text-primary"><i class="fas fa-4x fa-envelope"></i>
        <p><a href="mailto:phma4@outlook.com">phma4@outlook.com</a></p></div>
    <form method="get" action="mailto:phma4@outlook.com">
        <input type="text" name="name" placeholder="name">
        <input type="email" name="email" placeholder="email">
        <input type="text" name="subject" placeholder="subjekt">
        <textarea name="body" rows="3" placeholder="nachricht"></textarea>
        <input type="submit" value="Abschicken">
    </form>
</div>