<div class="container text-dark">
    <h2>[lebenslauf]</h2>
    <div class="row">
        <div class="col-50">
            <div class="content">
                <dl>
                    <dt>Seit August 2018</dt>
                    <dd>
                        <h3>Lead Web Developer</h3>
                        Operation Mobilisation (OM)<br>
                        <em>Muttenz, Schweiz / International</em>
                    </dd>
                    <dt>August 2013 – August 2018</dt>
                    <dd>
                        <h3>Web Developer and Graphic Designer</h3>
                        Operation Mobilisation (OM)<br>
                        <em>Kanazawa, Japan</em>
                    </dd>
                    <dt>Februar 2011 – Juni 2013</dt>
                    <dd>
                        <h3>IT-Systemtechniker</h3>
                        Schwabe AG Informatik<br>
                        <em>Muttenz, Schweiz</em>
                    </dd>
                    <dt>Oktober – Dezember 2010</dt>
                    <dd>
                        <h3>Zivildienstleistender</h3>
                        Stiftung Weizenkorn<br>
                        <em>Basel, Schweiz </em>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-50">
            <div class="content">
                <dl>
                    <dt>Juli – August 2010</dt>
                    <dd>
                        <h3>IT-Supporter (Temporär)</h3>
                        T-Systems für Clariant International AG<br>
                        <em>Muttenz und Pratteln, Schweiz</em>
                    </dd>
                    <dt>April – Juni 2010</dt>
                    <dd>
                        <h3>Volunteer</h3>
                        Foundation for Applied Linguistics<br>
                        <em>Chiang Mai, Thailand</em>
                    </dd>
                    <dt>August 2007 – Februar 2010</dt>
                    <dd>
                        <h3>IT Support Engineer</h3>
                        GBA Ships e.V. (MV Logos Hope)<br>
                        <em>Europa, Karibik</em>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="text-align-center text-dark"><i class="fas fa-3x fa-map-signs"></i></div>
    </div>
</div>