<h2 class="text-hidden">[map]</h2>
<iframe name="map"
        src="https://api.mapbox.com/styles/v1/phox4ever/ckuoe1759dk4f18qj4qgy7efi.html?title=false&access_token=pk.eyJ1IjoicGhveDRldmVyIiwiYSI6ImNrdWdxZHEwNjAwMDYycHF0NG1xZGQ0aTEifQ.B8-K8RNrmG2-8DiOMZpyUA&zoomwheel=false#16.42/47.536229/7.63194"
        allowfullscreen="" loading="lazy" title="Map"></iframe>
<div class="container text-align-center map-links">
    <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2693.6247771676003!2d7.6289130162672985!3d47.536167700832905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4791b78e5ed95bcd%3A0xbffa09aed949f4d6!2sRauracherweg%2010%2C%204132%20Muttenz!5e0!3m2!1sde!2sch!4v1634065564856!5m2!1sde!2sch"
       target="map">Als Google Map darstellen</a> |
    <a href="https://goo.gl/maps/7XvSNUdpYZjytaN89">In Google Maps öffnen</a>
</div>