<div class="container text-dark">
    <h2>[motivation]</h2>
    <div class="row">
        <div class="col-50">
            <div class="content">
                <p>Ich heisse <strong>Philipp Martin</strong>, bin mittlerweile 36 Jahre alt, und leidenschaftlicher
                    Web-Entwickler. Ich bin in der Region Basel aufgewachsen, verheiratet und Vater von zwei Kindern.
                    Als ausgebildeter <strong>Informatiker mit viel Berufserfahrung</strong> im In- und Ausland bin ich
                    die ideale Ergänzung für ihr Team.</p>
                <p>Ob im Front-end oder Back-end, ich entwickle für Sie <strong>zuverlässige Webapplikationen</strong>,
                    die auf Datenbanken und Schnittstellen zugreifen. Dabei steht bei mir die
                    <strong>User-Experience</strong> stehts im Vordergrund.</p>
                <p>Den LAMP Stack kenne ich bestens und <strong>PHP</strong> habe ich mir bereits während meiner
                    Berufslehre selbständig beigebracht. Auch <strong>MySQL und JavaScript</strong> sind kein Problem
                    für mich. Mit der <strong>Objektorientieren Programmierung</strong> und den gängigen
                    Programmierstandards bin ich vertraut. Meine bevorzugte Entwicklungsumgebung ist PHPStorm,
                    Kommandozeilentools wie <strong>Git, Composer und Docker</strong> erleichtern mir dabei den
                    Entwickleralltag.</p>
            </div>
        </div>
        <div class="col-50">
            <div class="content">
                <p>Insgesamt 11 Jahre bin ich jetzt für eine internationale Non-Profit-Organisation tätig. 5 Jahre davon
                    in Japan und die letzten 3 Jahren als <strong>Leitender Web-Entwickler</strong> einer
                    <strong>Drupal</strong> basierten Weblösung, welche auch Teile des Symphony Frameworks verwendet.
                    Zurzeit absolviere ich zudem eine <strong>Weiterbildung an einer höheren Fachschule</strong> als
                    Applikationsentwickler.</p>
                <p>Meine Muttersprache ist Deutsch, ich spreche aber auch <strong>fliessend Englisch</strong> und etwas
                    Japanisch.</p>
                <p>Nebst meinem breiten Fachwissen habe ich eine <strong>schnelle Auffassungsgabe</strong> und ein Auge
                    fürs Detail. Ich bin ehrgeizig, neugierig und <strong>lerne gerne Neues dazu</strong>. Ich möchte
                    für ihr Unternehmen arbeiten, weil Sie mir ein angenehmes und spannendes Arbeitsumfeld hier in der
                    Region bieten. Ein junges, kreatives Team und <strong>Projekte mit viel Eigenverantwortung</strong>
                    motivieren mich zusätzlich. Es würde mich freuen, Sie und Ihr Team persönlich kennenzulernen.</p>
            </div>
        </div>
    </div>
</div>