<div class="container">
    <h2>[profil]</h2>
    <div class="row">
        <div class="col-50">
            <div class="content">
                <h3>Full Stack PHP Entwickler</h3>
                <ul>
                    <li>PHP, MySQL, JavaScript, HTML5, SCSS</li>
                    <li>Drupal CMS, Symfony</li>
                    <li>Composer, npm</li>
                    <li>Git, GitLab</li>
                    <li>PHPStorm</li>
                </ul>
                <h3>UX Designer & Media Engineer</h3>
                <ul>
                    <li>Adobe Photoshop</li>
                    <li>Adobe InDesign</li>
                    <li>Adobe Illustrator</li>
                    <li>Adobe XD</li>
                    <li>Adobe Premiere</li>
                    <li>Adobe Audition</li>
                    <li>Adobe Lightroom</li>
                </ul>
            </div>
        </div>
        <div class="col-50">
            <div class="content">
                <h3>IT Systems & Dev Ops Engineer</h3>
                <ul>
                    <li>Apache, Nginx</li>
                    <li>Docker, ddev</li>
                    <li>GitLab CI/CD, Platform.sh</li>
                    <li>Windows, Ubuntu, WSL</li>
                    <li>Microsoft Office 365, Active Directory</li>
                </ul>
                <h3>Ich bringe mit</h3>
                <ul>
                    <li>Gute Teamfähigkeit</li>
                    <li>Grosse Selbständigkeit</li>
                    <li>Hohe Zuverlässigkeit</li>
                    <li>Viel Kreativität</li>
                    <li>Schnelle Auffassungsgabe</li>
                    <li>Stetige Lernbereitschaft</li>
                    <li>Reiche interkulturelle Erfahrung</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-align-center"><i class="fas fa-3x fa-laptop-code"></i></div>
</div>