<div class="container">
    <h2>[sprachen]</h2>
    <div class="row">
        <div class="col-50">
            <dl>
                <dt>Deutsch</dt>
                <dd>Muttersprache</dd>
                <dt>English</dt>
                <dd>Mündlich C2 / Schriftlich C1</dd>
                <dt>Japanisch</dt>
                <dd>Mündlich B1 / Schriftlich A2</dd>
                <dt>Französisch</dt>
                <dd>Mündlich A2 / Schriftlich A2</dd>
            </dl>
        </div>
        <div class="col-50">
            <div class="content text-align-right">
                <i class="fas fa-10x fa-language text-primary"></i>
            </div>
        </div>
    </div>
</div>