<div class="container">
    <h2 class="text-hidden">[in kürze]</h2>
    <div class="row">
        <div class="col-50">
            <div class="text-align-center lead">
                <i class="fas fa-2x fa-search"></i><br><br>
                Sie suchen einen erfahrenen
                <div class="animation ">
                    <ul>
                        <li>
                            <mark>UX Designer & Media Engineer</mark>
                        </li>
                        <li>
                            <mark>IT Systems & DevOps Engineer</mark>
                        </li>
                        <li>
                            <mark>Full Stack PHP Entwickler</mark>
                        </li>
                    </ul>
                    ...?
                </div>
                <p>
                    Zögern Sie nicht, mich zu kontaktieren!<br/>
                    <a class="btn" href="#kontakt">Kontakt</a>
                </p>
            </div>
        </div>
        <div class="col-50">
            <div class="content">
                <video controls preload="none" poster="img/poster.jpg">
                    <source src="https://github.com/phma4/phma4.github.io/blob/master/cv/media/application_video.mp4?raw=true" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>