.overlay {
  z-index: 11;
  position: relative;
  overflow: hidden;
  &:after {
    position: absolute;
    top: 0;
    z-index: 10;
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0.7;
  }
  &-primary, &-secondary {
    @extend .overlay;
    background-image: var(--background-url);
    overflow: initial;

    &:after {
      background: $primary;
      opacity: 0.9;
    }
  }
  &-secondary {
    @extend .overlay;

    &:after {
      background: $secondary;
      opacity: 0.9;
    }
  }
}