.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  .col-50 {
    flex: 0 0 50%;
    @include mq($until:desktop) {
      flex: 0 1 100%;
    }
  }
  .content {
    box-sizing: border-box;
    height: 100%;
    padding: 2rem;
    @include mq($until:desktop) {
      padding: 0 2rem;
    }
    @include mq($until:tablet) {
      padding: 0 1rem;
    }
  }
}