<!DOCTYPE html>
<html lang="de" class="page-front parallax-enabled">
<head>
    <module href="/components/head.html" locals='{"prefix":""}'></module>
</head>
<body>
<!--BEGIN Navigation-->
<module href="/components/nav.html"></module>
<!--END Navigation-->
<!--BEGIN Header-->
<header id="top">
    <module href="/components/header.html"></module>
</header>
<!--END Header-->
<!--BEGIN Main Content-->
<main>
    <module href="/components/front.html"></module>
</main>
<!--END Main Content-->
<!--BEGIN Footer-->
<footer>
    <module href="/components/footer.html"></module>
</footer>
<!--END Footer-->
</body>
</html>