<div class="container">
    <div class="footer-nav">
        <a href="impressum.html">Impressum</a> | <a href="privacy.html">Privatsphäre</a>
    </div>
    <div class="copyright text-align-center">&copy;2023 Philipp Martin<br>Bilder von <a
            href="unsplash.com">unsplash.com</a></div>
    <div class="social-networks text-align-right">
        <a href="https://www.xing.com/profile/Philipp_Martin2"><i class="fab fa-xing fa-3x"></i></a>
        <a href="https://www.drupal.org/u/phma"><i class="fab fa-drupal fa-3x"></i></a>
        <a href="https://wa.me/41767353014"><i class="fab fa-whatsapp fa-3x"></i></a>
    </div>
</div>