<!--BEGIN Section Video-->
<section id="video">
    <module href="/sections/video.html"></module>
</section>
<!--END Section Video-->
<!--BEGIN Section Motivation-->
<section id="motivation" class="overlay-secondary is-parallax" style="--background-url:url('../img/code.jpg')">
    <module href="/sections/motivation.html"></module>
</section>
<!--END Section Motivation-->
<!--BEGIN Section Profil-->
<section id="profil">
    <module href="/sections/profil.html"></module>
</section>
<!--END Section Profil-->
<!--BEGIN Section Lebenslauf-->
<section id="lebenslauf" class="overlay-secondary is-parallax" style="--background-url:url('../img/ship.jpg')">
    <module href="/sections/lebenslauf.html"></module>
</section>
<!--END Section Lebenslauf-->
<!--BEGIN Section Ausbildung-->
<section id="ausbildung">
    <module href="/sections/ausbildung.html"></module>
</section>
<!--END Section Ausbildung-->
<!--BEGIN Section Interessen-->
<section id="interessen" class="overlay-secondary" style="background-image:url('img/wald.jpg')">
    <module href="/sections/interessen.html"></module>
</section>
<!--END Section Interessen-->
<!--BEGIN Section Sprachen-->
<section id="sprachen">
    <module href="/sections/sprachen.html"></module>
</section>
<!--END Section Sprachen-->
<!--BEGIN Section Map-->
<section id="map">
    <module href="/sections/map.html"></module>
</section>
<!--END Section Map-->
<!--BEGIN Section Kontakt-->
<section id="kontakt">
    <module href="/sections/kontakt.html"></module>
</section>
<!--END Section Kontakt-->