<div class="content container">
  <div class="avatar">
    <img alt="Portrait von Philipp Martin" src="img/avatar.jpg">
  </div>
  <h1>Philipp Martin<br>============================</h1>
  <dl>
    <dt>Geburtsdatum</dt>
    <dd>3.10.1985</dd>
    <dt>Adresse</dt>
    <dd><a href="#map">Rauracherweg 10, CH-4132 Muttenz</a></dd>
    <dt>Tel</dt>
    <dd>+41 (0)76 375 3014</dd>
    <dt>Nationalität</dt>
    <dd>CH</dd>
    <dt>Familienstand</dt>
    <dd>Verheiratet, 2 Kinder (4 und 7 Jahre)<span class="blink">&#9608;</span></dd>
  </dl>
</div>