<nav id="nav">
    <div class="nav-content collapse">
        <button onclick="document.querySelector('#nav .nav-content').classList.toggle('collapse')"><i
                class="fas fa-bars"></i><i class="fas fa-times"></i>Menü
        </button>
        <ul>
            <li><i class="fas fa-arrow-up"></i><a href="index.html#top">top</a></li>
            <li><i class="fas fa-video"></i><a href="index.html#video">in kürze</a></li>
            <li><i class="fas fa-envelope-open-text"></i><a href="index.html#motivation">motivation</a></li>
            <li><i class="fas fa-laptop-code"></i><a href="index.html#profil">profil</a></li>
            <li><i class="fas fa-map-signs"></i><a href="index.html#lebenslauf">lebenslauf</a></li>
            <li><i class="fas fa-graduation-cap"></i><a href="index.html#ausbildung">ausbildung</a></li>
            <li><i class="fas fa-hiking"></i><a href="index.html#interessen">interessen</a></li>
            <li><i class="fas fa-envelope"></i><a href="index.html#kontakt">kontakt</a></li>
        </ul>
        <a class="effect" href="simple.html" title="disable effects"><i class="fas fa-eye"></i></a>
    </div>
</nav>